@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat);

	body{
		font-size:0.9em
	}
	/* 최상단 div  */
	#menuDiv{			
		height:100px;
	}
	#logoDiv{
		height:100px;
	}		
	
	/* 로그인,회원가입 버튼들 */
	.nav-link{
		color:black;
	}
	.nav-link:hover{
		font-weight:bolder;
	}
	#logoDiv img{
		width:300px;
		height:100px;
	}
	#myInfo img{
		width:50px;
		height:50px;			
	}
	.modal-body{
		height:115px;
	}
	.modal-body div{
		height:30px;
		font-size:15px;
		line-height:30px;
	}
	
	/* 검색기능 div */
	#searchDiv{
		width:99%;
		margin:0px auto;
		height:140px;
		background:#eee;
		opacity:0.9;
		
	}
	/* 검색창 위에 div, 검색창이 가운데에 위치하기위해 존재 */
	#searchDiv>div:nth-child(1){		
		height:35%;
	}

	/* 검색텍스트창 */
	#searchInput{
		width:100%;
		text-align:center;
	}
	#searchBar{
		width:60%;		
	}
	#searchButton{
		width:8%;
		border:none;
	}
	
	/* 텍스트창,버튼 */
	#searchInput>input{
		height:30px;
	}
	
	/* 카테고리버튼 */
	#categoryDiv{
		margin:1px auto;
		width:99%;
		height:50px;
	}
	#categoryDiv>a>div:hover{
		font-weight:bold;
		color:blue;
		text-decoration:none;
	}
	ul,li{
		list-style-type:none;
		padding:0px;
		margin:0px;
	}
	#categoryDiv>a{
		width:11%;
		color:black;
		text-align:center;		
		line-height:50px;
		font-weight:bolder;
	}
	.nopadding {
	   padding: 0 !important;
	   margin: 0 !important;
	}
	
	/* 추천 콘텐츠 */
	#recomendedContentsDiv{
		width:95%;
		margin:50px auto;
	}
	
	#recommendContents{
		margin:10px auto;
	}
	
	.card{
		width:20%;		
		height:450px;
	}
	#recommendContents a{
		text-decoration:none;
	}
	
	#recommendContents img{
		width:100%;
		height:200px;
		padding:0px;
		opacity:0.9;
	}
	
	/* 매뉴얼div */
	#manualDiv{	
		width:95%;
		margin:0px auto;
		padding-bottom:20px;	
	}
	
	
	/* 티처모집 */
	#hireTeacherDiv{
		width:95%;		
		margin:20px auto;
		padding-bottom:30px;
	}
	/* 회사정보 */
	#companyInfoDiv{
		margin-top:100px;
		height:200px;		
	}
	#companyInfoDiv>div{		
		text-align:center;		
	} 
	#companyInfoDiv img{
		width:210px;
		height:70px;
	}
	
	/* popover */
	.setterMode{
		font-weight:bolder;
	}
	/* askus */
	#askUs{
		position:absolute;

	}
	#askUs img{
		width:100px;
		height:100px;
	}
	/*아콘표시  */
	#myAcorn img{
		width:20px;
		height:20px;
	}
